* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 2%;
    font-family: Helvetica;

    background-color: #e5e5f7;
    /* opacity: 0.8; */
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, #444cf7, #444cf7 1px, #e5e5f7 1px, #e5e5f7);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 46, 255, 0.886);
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    border: transparent 1px solid;
    border-radius: 5px;
    padding: 15px;

    & h1 {
        color: white;
        text-align: center;
    }
}

main {
    border: transparent 1px solid;
    border-radius: 5px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;

    & .div-title {
        background-color: rgba(0, 0, 0, 0.171);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin-bottom: 30px;

        & .main-title {
            background-color: rgb(0, 115, 255);
            display: inline;
            color: rgb(255, 255, 255);
            border: transparent 1px solid;
            border-radius: 5px;
            padding: 1%;
        }
    }

    .section-websites {
        background-color: rgba(0, 0, 0, 0.171);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2%;
    
        & .a-website {
            background-color: rgba(0, 0, 0, 0.83);
            color:white;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: black 1px solid;
            border-radius: 5px;
            width: 45%;
            height: auto;
            margin: 20px 0px;
            text-decoration: none;
            
            & p {
                margin: 6px 10px;
                width: 100%;
                text-align: center;
            }
        }

        & .a-website:hover {
            background-color: rgb(237, 237, 237);
            color: black;
        }
    }
}

footer {
    
    width: 100%;
    height: auto;
    margin-bottom: 30px;


    & .div-github-repository {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        & a {
            background-color: rgb(32, 32, 32);
            color: white;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            border: black solid 1px;
            border-radius: 10px;
            padding:0px 3%;
            
            & img {
                width: 25px;
                height: 25px;
            }

            & p {
                display: flex;
                width: 100%;
                
                font-size: 0.7rem;
            }
        }
    }
}

