* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    padding: 2%;
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2vh;

    & h1 {
        text-align: center;
        width: 100%;
    }
}

#section-declaracion-variables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    & h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 2vh;
    }

    & .div-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        

        & .div-introduce-variable-string {

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            border: 1px black solid;
            border-radius: 20px;

            background-color: transparent;
            width: 100%;
            height: 10vh;
            
            margin-bottom: 2vh;

            & label {
                background-color: rgb(0, 0, 0);
                border-radius: 20px;
                color: white;
                width: 40%;
                
                text-align: center;
                font-size: large;
            }

            & #input-text-variables {
                background-color: rgb(243, 231, 255);
                border-radius: 20px;
                width: 40%;
                height: 40%;
                padding: 0% 2%;
                font-size: large;
            }
        }

        & .div-conversion-string {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            & .div-input-button-generate-variable-strings {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 50px;
                margin-top: 2vh;

                & #input-convert-string {
                    background-color: rgb(243, 231, 255);
                    height: 70%;
                    width: 20%;
                    border: 1px black solid;
                    border-radius: 20px;
                }
            }
        }
    }
}


.span-articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: auto;

    & .article-variable {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: black solid 1px;
        border-radius: 20px;
        width: 30%;
        height: 300px;
        background: rgb(255,0,0);
        background: linear-gradient(0deg, rgb(0, 255, 115) 88%, rgb(17, 0, 255) 100%);
        margin: 20px;

        & .div-of-h3-and-p-value {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 30%;

            & .h3-name {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 100%;
                height: 50%;
                color: white;
                font-size: medium;
            }
    
            & .p-value {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(0, 0, 0);
                color: white;
                text-align: center;
                width: 100%;
                height: 50%;
                font-size: larger;
            }
        }

        & .div-of-p-description {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 70%;
            padding: 3%;
            background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgb(243, 231, 255) 20%);

            & .p-description {
                width: 100%;
                
            }

        }

        
    }
}


