* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body {
    background-color: rgb(250, 250, 225);
    font-family: Helvetica;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    display: flex;
    border: black solid 1px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(34, 166, 255);

    margin-bottom: 5%;

    & h1 {
        color: rgb(250, 250, 250);
        text-align: center;
        margin-bottom: 5px;  
    }

    & h2 {
        
        text-align: center;
    }
}

main {
    background-color: rgb(255, 235, 170);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;

    border: black solid 1px;
    border-radius: 10px;

    padding: 1%;
    margin-bottom: 5%;
}

.div-p-info {
    
    background-color: rgb(253, 225, 132);
    border: transparent solid 1px;
    border-radius: 10px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.p-API-description {
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.p-API-delay {
    font-size: 0.8rem;
}


.div-inputs-introduce-numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(253, 225, 132);
    padding: 1%;
    border: transparent solid 1px;
    border-radius: 10px;
    margin-bottom: 10px;

    & input {
        border: transparent solid 1px;
        border-radius: 6px;
        padding: 1%;
        text-align: center;
    }
}

.div-button-get-random-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;

    & #button-get-random-number {
        border-radius: 10px;
        border: black solid 1px;
        padding: 1%;
    }
}

.div-span-result-random-number {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border: transparent solid 1px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
    padding: 1%;
}


.span-random-number-message{
    font-size: 1rem;
    margin-bottom: 10px;
}

#span-result-random-number {
    font-size: 1.3rem;
    font-weight: 200;
    color: rgb(255, 255, 255);
}

footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    & .p-API-URL {
        display: inline;
        background-color: rgb(252, 121, 121);
        color: white;
        border: black solid 1px;
        border-radius: 10px;
        text-align: center;
        padding: 1%;
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    & .div-github-repository {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        & a {
            background-color: rgb(32, 32, 32);
            color: white;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            border: black solid 1px;
            border-radius: 10px;
            padding:0px 3%;
            
            & img {
                width: 25px;
                height: 25px;
            }

            & p {
                display: flex;
                width: 100%;
                
                font-size: 0.7rem;
            }
        }
    }
}

@media (min-width: 640px) {
    /* body {
        background-color: rgb(229, 255, 0);
    } */

    header {
        width: 90%;
    }

    main {
        width: 90%;
    }
}

@media (min-width: 768px) {
    /* body {
        background-color: rgb(255, 0, 0);
    } */

    header {
        width: 80%;
    }

    main {
        width: 80%;
    }

    .div-inputs-introduce-numbers {
        flex-direction: row;
        justify-content: space-around;
    }


}

@media (min-width: 1024px) {
    /* body {
        background-color: rgb(81, 255, 0);
    } */

    header {
        width: 60%;
    }

    main {
        width: 60%;
    }
}

@media (min-width: 1280px) {
    /* body {
        background-color: rgb(0, 255, 191);
    } */

    header {
        width: 50%;
    }

    main {
        width: 50%;
    }
}

@media (min-width: 1536px) {
    /* body {
        background-color: rgb(0, 81, 255);
    } */

    header {
        width: 40%;
        max-width: 700px;
    }

    main {
        width: 40%;
        max-width: 700px;
    }
}