* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: beige;
    font-family: Helvetica;
    padding: 5%;
    border: rgb(185, 7, 255) 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    display: flex;
    border: black solid 1px;

    margin-bottom: 5%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    display: flex;
    border: black solid 1px;
}

.div-p-info {
    background-color: rgb(34, 34, 34);
    padding: 1%;
    margin-bottom: 40px;
}

.p-API-description {
    background-color: purple;
    color: white;
}

.p-API-URL {
    background-color: blue;
    color: white;
}

.p-API-delay {
    background-color: green;
    color: white;
}


.div-inputs-introduce-numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: orange;
    margin-bottom: 10px;
}

.div-button-get-random-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: brown;
    margin-bottom: 10px;
}

.div-span-result-random-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 10vh;
    background-color: rgb(0, 214, 179);
    color: white;
}


.span-random-number-message{
    font-size: 1.3rem;
}

#span-result-random-number {
    font-size: 2.5rem;
    color: black;
}